.modal::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  display: block;
  position: fixed;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  max-width: 40rem;
  padding: 2rem;
}

.modal h2 {
  margin-bottom: 1rem;
}

.buttons {
  text-align: right;
}

.button {
  font-size: 1.15rem;
  color: #555;
  background-color: transparent;
  border: 0px;
}

.button:hover,
.button:active,
.button.active {
  color: black;
  border: 0px;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}